/* GENERAL */

body {
    background-color:rgb(2, 2, 56)
}





/* CONTACT PAGE */


.name {
    text-align: center;
    color: white;
    font-size: 200%;
    margin-top: 5%;
}

.email {
    text-align: center;
    color: white;
    font-size: 200%;
    margin-top: 5%;
}

.message {
    text-align: center;
    color: white;
    font-size: 200%;
    margin-top: 5%;
}

.button {
    text-align: center;
    margin-top: 5%;
}


/* NAVBAR SECTION */

.navbar-header {
    border: 3px solid red;
}

.page-title {
    margin-left: 2%;
}

.navbar-item, .page-title {
    display: inline;
    position: relative;
    width: 100%;
}

.navbar-anchor {
    float: right;
    margin-right: 1%;    
}

.navbar-anchor {
    text-decoration: none;
    color: white;
    font-size: 250%;
}

.navbar-anchor:hover {
    color: red;
}